{% extends 'base.html' %}
{% load static %}



{% block app_css %}
<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
{% endblock app_css %}
    

{% block header %}
<h1 class="text-md-start text-primary " style="padding-top: 60px; ">{{heading}}</h1>
<p class="lead text-md-start text-primary ">{{subheading}}</p>
{% endblock header %}


{% block conten-1 %}
<div class="row" style="height: 400px;">
    <h1>Conten blog</h1>
</div>
<div class="row bg-primary" style="height: 400px;">
    <h1>Conten blog 2</h1>
</div>
{% endblock conten-1 %}
    


    


